In [1]:
import pandas as pd

In [2]:
tf_idf_features = pd.read_csv('tf_idf_data.csv')

In [32]:
pos_features = pd.read_csv('PosTagsCombined.csv')

In [33]:
a = pos_features[pos_features.columns.difference(['Genre'])]

In [34]:
pos_features_new = (a - a.mean())/(a.max()-a.min())

In [35]:
pos_features.head()

,$,'',CC,CD,DT,EX,FW,Genre,IN,JJ,...,VBD,VBG,VBN,VBP,VBZ,WDT,WP,WP$,WRB,``
0,0.0,0.0,1.0,4.0,3.0,0.0,1.0,0,21.0,58.0,...,15.0,0.0,2.0,46.0,2.0,0.0,1.0,1.0,0.0,0.0
1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0,9.0,46.0,...,7.0,0.0,4.0,15.0,1.0,0.0,1.0,0.0,0.0,0.0
2,0.0,0.0,0.0,7.0,1.0,0.0,0.0,0,21.0,74.0,...,20.0,2.0,11.0,38.0,3.0,0.0,1.0,0.0,0.0,0.0
3,0.0,0.0,2.0,6.0,0.0,0.0,0.0,0,9.0,63.0,...,21.0,2.0,8.0,22.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,4.0,1.0,0.0,1.0,0,15.0,52.0,...,10.0,1.0,0.0,18.0,2.0,0.0,0.0,0.0,0.0,0.0

In [36]:
w2v_features = pd.read_csv('w2vDataFinal.csv')

In [40]:
data = pd.concat([tf_idf_features,w2v_features,pos_features_new],axis=1)

In [41]:
data['Genre'] = pos_features.Genre

In [42]:
data.head()

,Hip_Hop_similarity,Metal_similarity,Pop_similarity,Rock_similarity,w2v_1,w2v_2,w2v_3,w2v_4,w2v_5,w2v_6,...,VBG,VBN,VBP,VBZ,WDT,WP,WP$,WRB,``,Genre
0,0.572324,0.557320,0.516466,0.550151,0.325589,-0.125482,0.147536,-0.071102,0.089119,0.151186,...,-0.003334,-0.001621,0.133564,0.010865,-0.001765,0.006742,0.123744,-0.002236,-0.00005,0
1,0.329304,0.318860,0.238707,0.365458,0.388892,0.309120,0.036648,-0.225760,-0.672489,-0.093571,...,-0.003334,0.022475,0.017459,-0.002648,-0.001765,0.006742,-0.001256,-0.002236,-0.00005,0
2,0.437304,0.454970,0.369333,0.497569,0.860438,0.438081,0.042422,0.080651,-0.116367,-0.036655,...,0.006567,0.106812,0.103602,0.024379,-0.001765,0.006742,-0.001256,-0.002236,-0.00005,0
3,0.278048,0.367773,0.522921,0.300138,1.043292,0.269069,-0.225216,-0.410170,0.250908,-0.206474,...,0.006567,0.070668,0.043677,-0.016162,-0.001765,-0.001591,-0.001256,-0.002236,-0.00005,0
4,0.324358,0.344924,0.406975,0.393070,0.328458,0.245278,0.325248,-0.052098,-0.107731,0.030227,...,0.001617,-0.025718,0.028695,0.010865,-0.001765,-0.001591,-0.001256,-0.002236,-0.00005,0

In [43]:
import numpy as np

In [44]:
data = data.reindex(np.random.permutation(data.index))

# Train - Test Split

In [45]:
from sklearn.model_selection import train_test_split

In [46]:
train,test,train_y,test_y = train_test_split(data[data.columns.difference(['Genre'])],data['Genre'],train_size=0.67)

In [47]:
from collections import Counter
c = Counter()
c.update(train_y)
c

Counter({0: 13391, 1: 13410, 2: 13367, 3: 13432})

In [169]:
from sklearn.ensemble import GradientBoostingClassifier

In [ ]:
%%time
gd = GradientBoostingClassifier(max_depth=20)
gd.fit(train,train_y)
pred = gd.predict(test)
print (accuracy_score(test_y,pred))

In [173]:
from sklearn.ensemble import AdaBoostClassifier
ad = AdaBoostClassifier()
ad.fit(train,train_y)
pred = ad.predict(test)
print (accuracy_score(test_y,pred))

0.603825757576

In [21]:
data.to_csv("CombinedFeatures.csv",index=False)

## Classification

### Random Forest

In [30]:
from sklearn.metrics import f1_score
print(f1_score(y_actu,y_pred,average=None))

[ 0.80898373  0.65245734  0.5624662   0.48789252]

In [50]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
RF = RandomForestClassifier()
RF.fit(train,train_y)
pred = RF.predict(test)
vals = [0,1,2,3]
y_actu = pd.Categorical(test_y, categories=vals)
y_actu = pd.Series(y_actu,name="Actual")
y_pred = pd.Categorical(pred, categories=vals)
y_pred = pd.Series(y_pred,name="Prediction")
print(accuracy_score(y_actu, y_pred))
pd.crosstab(y_actu, y_pred,margins = True)

0.630568181818

Prediction     0     1     2     3    All
Actual
0           5342   219   445   603   6609
1            223  4450   854  1063   6590
2            525   987  3662  1459   6633
3            495  1430  1450  3193   6568
All         6585  7086  6411  6318  26400

### Neural Network

In [55]:
nn = MLPClassifier()
nn.fit(train,train_y)
pred = nn.predict(test)
vals = [0,1,2,3]
y_actu = pd.Categorical(test_y, categories=vals)
y_actu = pd.Series(y_actu,name="Actual")
y_pred = pd.Categorical(pred, categories=vals)
y_pred = pd.Series(y_pred,name="Prediction")
print(accuracy_score(y_actu, y_pred))
pd.crosstab(y_actu, y_pred,margins = True)

0.699507575758

Prediction     0     1     2     3    All
Actual
0           5478   144   474   553   6649
1            165  4929   585   912   6591
2            378   771  4191  1248   6588
3            438  1058  1207  3869   6572
All         6459  6902  6457  6582  26400

In [56]:
print(f1_score(y_actu,y_pred,average=None))

[ 0.83582545  0.73060105  0.64254504  0.58826213]

### Naive Bayes

In [59]:
from sklearn.naive_bayes import GaussianNB
NB = GaussianNB()
NB.fit(train,train_y)
pred = NB.predict(test)
vals = [0,1,2,3]
y_actu = pd.Categorical(test_y, categories=vals)
y_actu = pd.Series(y_actu,name="Actual")
y_pred = pd.Categorical(pred, categories=vals)
y_pred = pd.Series(y_pred,name="Prediction")
print(accuracy_score(y_actu, y_pred))
pd.crosstab(y_actu, y_pred,margins = True)

0.495871212121

Prediction     0      1     2     3    All
Actual
0           4341   1085   621   602   6649
1            223   5341   412   615   6591
2            609   2564  1622  1793   6588
3            317   3732   736  1787   6572
All         5490  12722  3391  4797  26400

### Support Vector Machines

In [19]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score
SV = LinearSVC()
SV.fit(train,train_y)
pred = SV.predict(test)
vals = [0,1,2,3]
y_actu = pd.Categorical(test_y, categories=vals)
y_actu = pd.Series(y_actu,name="Actual")
y_pred = pd.Categorical(pred, categories=vals)
y_pred = pd.Series(y_pred,name="Prediction")
print(accuracy_score(y_actu, y_pred))
pd.crosstab(y_actu, y_pred,margins = True)

0.636477272727

Prediction     0     1     2     3    All
Actual
0           5376   275   517   446   6614
1            264  5110   584   658   6616
2            662  1021  3831  1082   6596
3            593  1966  1529  2486   6574
All         6895  8372  6461  4672  26400

#### Cross Val Random Forest Classifier

In [54]:
from sklearn.model_selection import cross_val_score
clf = RandomForestClassifier()
scores = cross_val_score(clf,data[data.columns.difference(['Genre'])],data['Genre'], cv=10)

In [55]:
print(scores)

[ 0.637875  0.643125  0.631     0.634375  0.634375  0.62675   0.644375
  0.635625  0.645     0.629   ]

In [62]:
a = [0.637875 , 0.643125 , 0.631,0.634375,0.634375,0.62675,0.644375,0.635625,0.645,0.629]
print("Random Forest Cross Val=",np.mean(a))

Random Forest Cross Val= 0.63615

#### Cross Val Logistic Regression

In [56]:
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression()
scores = cross_val_score(clf,data[data.columns.difference(['Genre'])],data['Genre'], cv=10)

In [57]:
print(scores)

[ 0.647125  0.646625  0.634875  0.629875  0.642875  0.636875  0.64775
  0.643375  0.647875  0.645   ]

In [64]:
b = [0.647125,0.646625,0.634875,0.629875,0.642875,0.636875,0.64775,0.643375,0.647875, 0.645]
print("Logistic Regression Val=",np.mean(b))

Logistic Regression Val= 0.642225

#### Cross Val Neural Network

In [58]:
from sklearn.model_selection import cross_val_score
from sklearn.neural_network import MLPClassifier
clf = MLPClassifier()
scores = cross_val_score(clf,data[data.columns.difference(['Genre'])],data['Genre'], cv=10)

In [59]:
print(scores)

[ 0.71075   0.719     0.69775   0.69225   0.6955    0.699375  0.706875
  0.707     0.711875  0.712125]

In [68]:
print("Neural Network Cross Val=",np.mean(scores))

Neural Network Cross Val= 0.536075

#### Cross Val k-Nearest Neighbors

In [67]:
from sklearn.model_selection import cross_val_score
from sklearn.neighbors import KNeighborsClassifier
clf = KNeighborsClassifier(n_neighbors=3)
scores = cross_val_score(clf,data[data.columns.difference(['Genre'])],data['Genre'], cv=10)
print("kNN Cross Val=",np.mean(scores))

kNN Cross Val= 0.536075